body {
  margin: 0;
  padding: 0;
  font: 32px/32px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
  color: #ccc;
  background: white;
}

#main {
  width: 75%;
  margin: 10px;
  position: absolute;
  left: 60px;
}

#title {
  font-size: 36px;
  letter-spacing: -0.5px;
  font-variant: small-caps;
  padding-bottom: 20px;
  margin-bottom: 35px;
  border-bottom: 2px solid #aaa;
}

a {
  color: #ccc;
  text-decoration: none;
}
a:hover {
  color: #9bddf8;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  padding-bottom: 10px;
  line-height: 20px;
  list-style-type: decimal-leading-zero;
}

.sub-text {
	font-size: 20px;
  font-weight: normal;
  color: #888;
  letter-spacing: -0.5px;
}
a:hover .sub-text {
  color: #5894ac;
}

#share {
  position: absolute;
  left: 60px;
  bottom: 80px;
}
#share .sub-text {
  font-size: 22px;
  margin-bottom: -5px;
}
#share a {
  color: #aaa;
  font-size: 24px;
}

.i-mail:hover {
	color: #dc0000;
}
.i-linkedin:hover {
	color: #0073b2;
}
.i-github-5:hover {
	color: #333333;
}
.i-facebook-2:hover {
	color: #43609c;
}
.i-pinterest-2:hover {
	color: #d01d15;
}
.i-instagram:hover {
  color: #9d7144;
}