body {
    font-family: 'Arial';
    font-size: 14px;
}

#chart-region-selector {
    float: left;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#chart-region-selector .region {
    stroke: black;
    position: relative;
}

#chart-region-selector .region:hover {
    fill: #fe881e;
}

#chart-region-selector .background {
    fill: none;
    pointer-events: all;
}

#chart-region-selector .lowest {
    fill: #424b55 !important;
    display: block !important;
}

#chart-region-selector .active {
    display: none;
}

/*.tooltip {
    position: absolute;
}*/

.tooltip {
    position: absolute;
    background: #888;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    opacity: 0;
}
.tooltip-arrow {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #888;
    border-width: 10px;
    margin-left: -10px;
}