#chart-region-selector {
    float: left;
    border: 1px solid #ccc;
    margin-right: 10px;
}

#chart-region-selector .region {
    stroke: black;
    position: relative;
}

#chart-region-selector .region:hover {
    fill: #fe881e;
}

#chart-region-selector .background {
    fill: none;
    pointer-events: all;
}

#chart-region-selector .lowest {
    fill: #424b55 !important;
    display: block !important;
}

#chart-region-selector .active {
    display: none;
}