#certificate {
    font-family: "Open Sans", san-serif;
    position: absolute;
    padding: 15px;
    margin-top: 20px;
    border-width: 40px 45px 50px 40px;
    border-style: solid;
    height: 350px;
    width: 800px;
    background: url('./img/badge-background.png') top left repeat;
    border-image: url('./img/badge-verified-bg.png') 40 45 50 40 stretch;
    -moz-border-image: url('./img/badge-verified-bg.png') 40 45 50 40 stretch;
    -webkit-border-image: url('./img/badge-verified-bg.png') 40 45 50 40 stretch;
    -o-border-image: url('./img/badge-verified-bg.png') 40 45 50 40 stretch;
}

#info {
    font-size: 10pt;
    font-weight: 500;
    color: #484848;
    margin: 5px;
}

.cert-signature {
    position: absolute;
    bottom: 0px;
    right: 15px;
}

.magnify {
    height: 20px; 
    padding:5px; 
    position: relative; 
    float: right;
}

.mag-glass {
	width: 75px; height: 75px;
	position: absolute;
	border-radius: 100%;
    z-index:10;
	
    overflow: hidden;
    background: white;
    
    /* glass effect */
	box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 
	0 0 7px 7px rgba(0, 0, 0, 0.25), 
	inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
	
	display: none;
}

.signature {
    font-size: 4pt;
    font-weight: bold;
    color: #000;
    float: right;
    padding: 1px 8px;
    cursor: default;
    background: url('./img/gold-strip.png');
}

.sig-large {
    font-size: 12pt;
    position: absolute;
    padding: 3px 10px;
    display: none;
}
.sig-small { 
    display: block; 
}